html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body {
  padding-top: 50px;
  width: 80%;
  margin: auto;
}

div.banner {
  padding: 20px;
  margin-top: 60px;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #26a69a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #26a69a !important;
}


#name {
  font-size: 24px;
  padding-top: 8px;
}
.home_new_list_container {
  padding: 5px;
  text-align: center;
}
.largeIcon {
  font-size: 50px !important;
}

.input-field > label, .statusLabel {
  font-size: 24px!important;
}
.row {
  margin-bottom: 0px;
}
.card-title {
  font-weight: normal!important;
  margin-bottom: 0!important;
  padding-left: 0!important;
}
.card_button {
  color: #424242;
  cursor: pointer;
  font-size: 32pt;
}
.link_header {
  font-size: 36pt;
  color: #424242;
  padding-top: 40px;
}
.link_card_container {
  margin-left: 0!important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link_card {
  padding: 0!important;
}
.center_text {
  text-align: center;
  padding: 0!important;
}
.delete_modal {
  width: 50%;
}
.wireframe_container {
  position: relative;
  overflow: auto;
}
.diagram {
  border-style: solid;
  border-width: 1px;
  margin: auto;
  position: relative;
  transform-origin: top left;
}
.edit_screen {
  padding-top: 10px;
}
.side_bar{
  background-color: whitesmoke;
  overflow: auto;
}
.side_bar, .edit_screen {
  height: 80vh;
}
.cross_icon {
  padding-top: 25px!important;
  text-align: center;
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.nums {
  width: 25%!important;
}